@import 'variables';
@import 'mixins';

.result{
    @include xy-flex-center(column, space-between);
    height: 60px;
    display: none;
    @media (max-width: 415px) {
        position: absolute;
        left: 50%;
        transform: translate(-50%);
        bottom: 20vh;
    }
    &-text{
        color: $sqr-bg;
        font-weight: 700;
        font-size: 3rem;
        padding-bottom: 10px;
    }
    &-again-bt{
        color: $background-end;
        padding: 10px 20px;
        border-radius: 10px;
        pointer-events: auto;
        cursor: pointer;
        &:hover{
            color: $rock-end;
        }
    }

}